<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko foreach: getRegion('messages') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->
<div>
    <!-- ko if: isFormVisible -->
    <p data-bind="i18n: 'dont have an account yet? save your information for next time,'"></p>
    <form method="post" data-bind="submit: createAccount">
        <input type="submit" class="action primary create-acc-checkout" data-bind="value: $t('Register Now'), disable: creationStarted" />
    </form>
    <!--<p><span data-bind="i18n: 'Email Address'"></span>: <span data-bind="text: getEmailAddress()"></span></p>-->
    <!-- /ko -->
    <!-- ko if: accountCreated -->
    <p data-bind="i18n: 'A letter with further instructions will be sent to your email.'"></p>
    <!-- /ko -->
</div>
