<?xml version="1.0"?>
<!--
/**
 * @author     Pisarenko Denis <denis.pisarenko@eleanorsoft.com>
 * @package    Eleanorsoft\CompanyInAdminOrderGrid
 * @copyright  Copyright (c) 2017 Eleanorsoft (https://www.eleanorsoft.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="eleanorsoft_project" frontName="custom_project">
            <module name="Eleanorsoft_CustomProject"/>
        </route>
    </router>
</config>