<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Eleanorsoft\Instagram\Instagram\Api\Adapter\AdapterInterface" type="Eleanorsoft\Instagram\Instagram\Api\Adapter\Cosenary\Instagram\Instagram"/>
</config>