<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="addthis" translate="label" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Add This</label>
            <tab>general</tab>
            <resource>Magento_Backend::currency</resource>
            <group id="options" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Options</label>
                <field id="account_id" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Account id</label>
                </field>
            </group>
        </section>
    </system>
</config>
