<div
        data-bind="
        iwdBlockLoader: isLoading
        "
        id="iwd_opc_review"
        class="iwd_opc_column iwd_opc_review_column">
    
    <div class="iwd_opc_alternative_column">
	    <div class="iwd_opc_universal_wrapper iwd_opc_column_name" data-bind="i18n: 'Order Review'"></div>
	    <div tabindex="-1" class="iwd_opc_column_content">
		    
            <div id="iwd_opc_top_review_items_wrapper">
                <div id="iwd_opc_review_items">
                    <!-- ko foreach: getRegion('itemsBefore') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <!--/ko-->
                    <!-- ko foreach: getRegion('cart_items') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <!--/ko-->
                    <!-- ko foreach: getRegion('itemsAfter') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <!--/ko-->
                </div>
            </div>
            <div id="iwd_opc_review_totals">
                <!-- ko foreach: getRegion('totals') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
            </div>
		    
        </div>
    </div>
    <div class="iwd_opc_universal_wrapper">
        <button type="button" data-bind="attr :{'title': $t('Place Order')}, click: placeOrder, enable: isPlaceOrderActionAllowed" class="iwd_opc_button active iwd_opc_place_order_button" title="Place Order">
            <!-- ko i18n: 'Place Order' --><!-- /ko -->
        </button>
    </div>
</div>